.partnersInner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-bottom: 60px;
  padding: 0 10px;
}

.partnersImgBox {
  display: flex;
}

.partnersImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.partnersInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background: #f8f8f8;
  padding: 30px 20px;
  gap: 20px;
}

.partnersTitle {
  color: #333;
  font-family: "Manrope";
  font-size: var(--font30);
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.partnersText {
  color: #a0a0a0;
  font-family: Manrope;
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
}

.partnersInfoBox p {
  color: #333;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
button.stageBtn {
  border-radius: 50px;
  border: 1px solid #fff;
  background: #ff8115;
  color: #fff;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 600;
  line-height: 128.571%;
  text-transform: lowercase;
  width: 180px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 5px;
  transition: all 0.4s ease;
}

button.stageBtn:hover {
  background: #fff;
  color: #ff8115;
  transition: all 0.4s ease;
  border: 1px solid #ff8115;
}
.stageIconBox {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stageIcon {
  object-fit: cover;
}

.swiperWrapper {
  width: 100%;
  margin-bottom: 80px;
}

.mySwiper {
  width: 100%;
  margin: 0 auto;
  cursor: grab;
}

.swiperSlide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.partnersItemImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.partnersItemTitle {
  color: #333;
  text-align: center;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 500;
  line-height: 128.571%;
}

.viewerBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 0px;
}

.viewerMain {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.viewerSwiper::part(button-prev),
.viewerSwiper::part(button-next) {
  position: absolute;
  top: 50%;
  z-index: 10;
  color: #fff;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.viewerSwiper::part(button-prev) {
  background: rgba(85, 85, 85, 0.5);
  backdrop-filter: blur(40px);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  left: 0;
}
.viewerSwiper::part(button-next) {
  background: rgba(85, 85, 85, 0.5);
  backdrop-filter: blur(40px);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  right: 0;
}
.viewerSwiper {
  width: 100%;
  height: 80%;
}

.viewerSwiper_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .viewerSwiper {
    width: 100%;
    height: 100%;
  }
  .viewerSwiper::part(button-prev) {
    background: none;
    backdrop-filter: blur(0px);
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .viewerSwiper::part(button-next) {
    background: none;
    backdrop-filter: blur(0px);
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .viewerBox {
    padding: 100px;
  }
}



@media (min-width: 992px) {
  .partnersInner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 120px;
    padding: 0 20px;
  }

  .partnersInfo {
    padding: 55px 63px 62px;
  }
  

  button.stageBtn {
    font-size: 14px;
    width: 180px;
    height: 46px;
  }

  .partnersTextBox {
    max-width: 28.1vw;
  }

  .partnersTitle {
    font-size: var(--font50);
  }
}

@media (min-width: 1440px) {
  button.stageBtn {
    font-size: var(--font14);
    width: 12vw;
    height: 50px;
  }

  .stageIconBox {
    width: 32px;
    height: 32px;
  }
}
