.sideBarLang {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #8e8e8e;
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 18.85px;
}

.sidebarBtn {
  font-family: "Manrope";
  color: #8e8e8e;
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 18.85px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
}
.active {
  color: #333;
}
