.loaderWrapper {
  display: flex;
  gap: 20px;
}

.loaderItem {
  width: calc(100% / 3 - 40px / 3);
}

.portfolio {
  margin-bottom: 60px;
}

.portfolioWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}

.swiperWrapper {
  width: 100%;
}

.mySwiper {
  width: 100%;
  margin: 0 auto;
  cursor: grab;
}

.portfolioImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.swiperSlide {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.portfolioText {
  color: #333;
  font-family: 'Manrope';
  font-size: var(--font14);
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  max-width: 249px;
}

@media (min-width: 992px) {
  .portfolio {
    margin-bottom: 80px;
  }
  .swiperSlide {
    gap: 20px;
  }

  .portfolioWrapper {
    margin-bottom: 40px;
  }

  .portfolioText {
    max-width: 100%;
  }
}
