.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formInputBox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.label {
  color: #333;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 500;
  line-height: 128.571%;
  margin-bottom: 15px;
}

.input :global(.MuiInput-input) {
  border-radius: 5px;
  background: #fff;
  padding: 11px 19px;
  color: #8e8e8e;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
}
.input :global(.MuiFormHelperText-root.Mui-error) {
  color: #8e8e8e;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  margin-top: 5px;
}

.helperText {
  color: #8e8e8e;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  margin-top: 5px;
}

.number :global(.react-tel-input) {
  border-radius: 5px;
  background: #fff;
  padding: 11px 19px;
  color: #8e8e8e;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
}

.number :global(.react-tel-input .flag-dropdown) {
  border-radius: 0;
  background: transparent;
  border: none;
}

.number :global(.react-tel-input .form-control) {
  border-radius: 0;
  background: transparent;
  border: none;
  color: #8e8e8e;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  height: auto;
  width: auto;
}

.number :global(.react-tel-input .selected-flag) {
  border-radius: 0;
  background: transparent;
  border: none;
  padding: 0;
}

.input :global(.MuiInput-root::before) {
  border: none;
}

.input :global(.MuiInput-root::after) {
  border: none;
}

.input :global(.MuiInput-input::placeholder) {
  color: #8e8e8e;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  text-transform: uppercase;
}

.comment {
  width: 100%;
}

.textarea :global(.MuiInput-input) {
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  color: #8e8e8e;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
}
.textarea :global(textarea::placeholder) {
  color: #8e8e8e;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  text-transform: initial !important;
}

.accordion:global(.MuiAccordion-root) {
  color: #8e8e8e;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 500;
  line-height: 128.571%;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
}

.accordionDetails:global(.MuiAccordionDetails-root) {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ededed;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}

.checkbox:global(.MuiFormControlLabel-root) {
  margin-right: 0;
  margin-left: 0;
  gap: 11px;
}
.checkbox :global(span.MuiFormControlLabel-label) {
  color: #8e8e8e;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 500;
  line-height: 128.571%;
}
.sliderIcon {
  width: 18px;
  height: 18px;
  object-fit: cover;
}

.checkbox :global(span.MuiRadio-root) {
  color: #ededed;
  padding: 0;
}
.checkbox :global(.MuiCheckbox-root) {
  padding: 0;
}

.checkbox :global(span.Mui-checked) {
  color: #ff8115;
}

.checkbox i {
  font-size: var(--font16);
  color: #ededed;
}

.formInputBox :global(.MuiFormHelperText-root) {
  color: #8e8e8e !important;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  margin-top: 5px;
}

button.submit {
  border-radius: 50px;
  background: #f07d00;
  color: #fff;
  font-family: "Manrope";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 128.571%;
  text-transform: lowercase;
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 10px;
}

.formIconBox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formIcon {
  object-fit: cover;
}

@media (min-width: 992px) {
  .formInputBox {
    width: 70%;
  }
  .accordion:global(.MuiAccordion-root) {
    width: 70%;
  }
  .comment {
    width: 70%;
  }

  .accordionDetails:global(.MuiAccordionDetails-root) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  button.submit {
    width: 150px;
    height: 50px;
  }

  .formIconBox {
    width: 27px;
    height: 27px;
  }
}

@media (min-width: 1440px) {
  button.submit {
    width: 10vw;
    font-size: var(--font14);
  }
  .formIconBox {
    width: 32px;
    height: 32px;
  }
}
