.subcategoryWrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.subcategory2Wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.subcategoryName {
  color: #333;
  font-family: 'Manrope';
  font-size: var(--font30);
  font-style: normal;
  font-weight: 500;
  line-height: 101.576%;
  margin-bottom: 10px;
}

.subcategory2Name {
  color: #242424;
  font-family: 'Manrope';
  font-size: var(--font16);
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .subcategoryName {
    font-size: var(--font40);
    margin-bottom: 30px;
  }

  .subcategory2Name {
    font-size: var(--font20);
  }
}

@media (min-width: 1440px) {
}
