.sliderPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  gap: 5px;
  color: #acacac;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
}

.sliderPagination > span {
  color: #acacac;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
}

.sliderPagination :global(span.swiper-pagination-current) {
  cursor: pointer;
  color: #ff8115;
}

.sliderPagination :global(span.swiper-pagination-total) {
  color: #acacac;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
}
