.articlesList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.articlesItem {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.articlesImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.articlesTitle {
  color: #333;
  font-family: 'Manrope';
  font-size: var(--font14);
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
.articlesList li {
  width: 100%;
}

@media (min-width: 576px) {
  .articlesList {
    column-gap: 20px;
    row-gap: 30px;
  }

  .articlesList li {
    width: calc(50% - 20px / 2);
  }
}

@media (min-width: 768px) {
  .articlesList {
    column-gap: 20px;
    row-gap: 40px;
  }
  .articlesList li {
    width: calc(100% / 3 - 40px / 3);
  }
}

@media (min-width: 992px) {
  .articlesList li {
    width: calc(25% - 60px / 4);
  }

  .articlesItem {
    gap: 20px;
  }
  .articlesTitle {
    font-size: var(--font18);
    max-width: 17.3vw;
  }
}
