.loaderWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loaderItem {
  width: 100%;
}

.faq {
  margin-bottom: 60px;
}

.faqInner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.faqText {
  color: #8e8e8e;
  font-family: 'Manrope';
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
}
.accordion {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 25px;
  padding-left: 50px;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .faq {
    margin-bottom: 80px;
  }
  .faqInner {
    margin-bottom: 30px;
  }
  .faqText {
    max-width: 25.9vw;
  }
}
