.sliderNavigation {
  /* position: absolute; */
  /* width: 100%; */
  display: flex;
  align-items: center;
  gap: 10px;
  /* top: 47%;
  left: 0;
  z-index: 12; */
}

.sliderNavigation > button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
}

.sliderNavigation > button > svg {
  color: #fff;
  font-size: var(--font20);
}
