.news {
  padding: 0 10px;
  margin-bottom: 60px;
}

.newsWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 30px;
}

.swiperWrapper {
  width: 100%;
  margin-bottom: 30px;
}

.mySwiper {
  width: 100%;
  margin: 0 auto;
  cursor: grab;
}

.swiperSlide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.newsImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.newsTitle {
  color: #333;
  font-family: "Manrope";
  font-size: var(--font18);
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

.newsBox {
  display: flex;
  justify-content: center;
}

.newsLink {
  border-radius: 50px;
  background: #f07d00;
  color: #fff;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 600;
  line-height: 128.571%;
  text-transform: lowercase;
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 7px;
  transition: all 0.4s ease;
  border: 1px solid #f07d00;
}

.newsLink:hover {
  background: #fff;
  color: #f07d00;
  transition: all 0.4s ease;
  border: 1px solid #f07d00;
}

.newsIconBox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsIcon {
  object-fit: cover;
}

@media (min-width: 992px) {
  .news {
    padding: 0 20px;
  }

  .newsTitle {
    max-width: 17.3vw;
  }
  
  .newsLink {
    width: 160px;
    height: 46px;
    font-size: 14px;
  }
  
  .newsIconBox {
    width: 27px;
    height: 27px;
  }

}

@media (min-width: 1440px) {
  .newsLink {
    width: 12vw;
    height: 50px;
    font-size: var(--font14);
  }
  
  .newsIconBox {
    width: 32px;
    height: 32px;
  }
}