.sliderNavigation {
  position: absolute;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  bottom: 20px;
  left: 0;
  z-index: 10;
}

.sliderNavigation > button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  background: #ff9f54;
}

.sliderNavigation > button > svg {
  color: #fff;
  font-size: var(--font20);
}

@media (min-width: 992px) {
  .sliderNavigation {
    display: flex;
  }
}
