.productImages {
  width: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  max-height: 90vh;
  height: auto;
  aspect-ratio: 1/1;
}

.productMainSwiperItem {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.productMainImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.productBottomSwiperItem {
  display: flex;
  width: 4.4vw !important;
  height: 100%;
  cursor: pointer;
}

/* .productBottomSwiper :global(.swiper-slide-thumb-active) {
  border: 2px solid yellowgreen;
  padding: 5px;
} */

.productBottomImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.imagePlaceholder {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  max-height: 90vh;
  object-fit: cover;
}

@media (min-width: 992px) {
  .productImages {
    width: 50%;
    position: sticky;
    top: 0;
  }
}
