.navbarTop {
  width: 100%;
  background: #333;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
}

.navbar {
  padding: 0px 25px;
  position: relative;
  z-index: 10;
}

.navbarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 15px 0px; */
}

.navbarImage {
  border: none;
  padding: 0;
  display: flex;
  background: transparent;
  padding: 15px 0px;
}

.navbarBtnBox {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.navbarLogo {
  width: 80px;
  height: 30px;
  object-fit: contain;
}

.socialLinkBox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.socialLink {
  color: #fff;
  font-family: 'Manrope';
  font-size: var(--font14);
  font-style: normal;
  font-weight: 500;
  line-height: 9px;
  letter-spacing: 0.45px;
  text-transform: uppercase;
}

.desktop {
  display: none;
}
.mobile {
  display: block;
}

@media (min-width: 992px) {
  .navbar {
    margin-bottom: 15px;
    z-index: initial;
  }
  .navbarTop {
    display: flex;
  }

  .navbarWrapper {
    border-bottom: 1px solid #efefef;
  }

  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
