.category {
  padding: 0 10px;
  margin-bottom: 60px;
}

.categoryWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.categoryItem {
  border-radius: 10px;
  background: #f8f8f8;
  display: flex;
}

.categoryBox {
  padding: 15px 0 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.categoryTitle {
  color: #4e4e4e;
  font-family: "Manrope";
  font-size: var(--font16);
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}

.newsIcon {
  object-fit: cover;
}

.categoryItemLink {
  border-radius: 50px;
  background: transparent;
  color: #7a7a7a;
  font-family: "Manrope";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: lowercase;
  border: 1px solid #7a7a7a;
  width: 105px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 5px;
}

.categoryItemIconBox {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #ff8115;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryIcon {
  object-fit: cover;
}

.categoryImgBox {
  display: flex;
  width: 50%;
}

.categoryImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

@media (min-width: 992px) {
  .category {
    padding: 0 20px;
    margin-bottom: 100px;
  }

  .categoryWrapper {
    margin-bottom: 40px;
  }

  .categoryList {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .categoryItem {
    border-radius: 10px;
    background: #f8f8f8;
    display: flex;
  }

  .categoryBox {
    padding: 25px;
    padding-right: 0;
  }

  .categoryItemLink {
    width: 95px;
    height: 30px;
  }
}

@media (min-width: 1440px) {
  .categoryItemLink {
    width: 6.5vw;
    height: 36px;
    font-size: var(--font12);
  }

  .categoryItemIconBox {
    width: 25px;
    height: 25px;
  }
}