.category {
  padding: 0 20px;
  margin-bottom: 120px;
}

.categoryWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 40px;
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.categoryItem {
  border-radius: 10px;
  background: #f8f8f8;
  display: flex;
}

.categoryBox {
  padding: 25px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.categoryTitle {
  color: #4e4e4e;
  font-family: "Manrope";
  font-size: var(--font16);
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}

.categoryLink {
  border-radius: 50px;
  background: #f07d00;
  color: #fff;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 600;
  line-height: 128.571%;
  text-transform: lowercase;
  width: 10vw;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.categoryIconBox {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsIcon {
  object-fit: cover;
}

.categoryItemLink {
  border-radius: 50px;
  background: transparent;
  color: #7a7a7a;
  font-family: "Manrope";
  font-size: var(--font12);
  font-style: normal;
  font-weight: 500;
  line-height: 128.571%;
  text-transform: lowercase;
  border: 1px solid #7a7a7a;
  width: 6.5vw;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.categoryItemIconBox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff8115;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryIcon {
  object-fit: cover;
}


.categoryImgBox {
  display: flex;
  width: 50%;
}

.categoryImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}