.reviews {
  padding: 0 10px;
  margin-bottom: 60px;
}

.reviewsWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}

.swiperWrapper {
  width: 100%;
}

.mySwiper {
  width: 100%;
  margin: 0 auto;
  cursor: grab;
}


.sliderVideoBox {
  position: relative;
  display: flex;
}

button.videoBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  min-width: auto;
  border: 1px solid #ff8115;
}
button.videoBtn:hover {
  background-color: transparent;
}

.sliderVideo {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 423px;
}

.modalVideo {
  width: 100%;
  height: 600px;
  border-radius: 10px;
}

@media (min-width: 992px) {
  .reviews {
    padding: 0 20px;
    margin-bottom: 80px;
  }

  .reviewsWrapper {
    margin-bottom: 40px;
  }

  .sliderVideo {
    height: 623px;
  }
  .modalVideo {
    height: 800px;
  }
}
