.title {
  color: #000;
  font-family: "Onest", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 90%; 
  white-space: pre-line;
}

@media (min-width: 992px) {
  .title {
    color: #000;
    font-family: "Onest", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 90%; 
  }
}