.title {
  color: #333;
  font-family: "Manrope";
  font-size: var(--font30);
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  white-space: pre-line;
}

@media (min-width: 992px) {
  .title {
    font-size: var(--font60);
  }
}