.productInfo {
  padding: 0 10px;
  margin-bottom: 60px;
}

.productWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.border {
  width: 100%;
  height: 1px;
  background: #e8e8e8;
  display: block;
}

.productBannerBox {
  border-radius: 20px;
  background: #f8f8f8;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.productBannerWrapper {
  padding: 20px;
}

.productBannerTitle {
  color: #333;
  font-family: "Manrope";
  font-size: var(--font16);
  font-style: normal;
  font-weight: 500;
  line-height: 100.781%;
}

.productImgBox {
  display: flex;
}

.productBanner {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.productInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  padding: 0 10px;
}

@media (min-width: 992px) {
  .productInfo {
    padding: 0 20px;
    margin-bottom: 80px;
  }
  
  .productInfoWrapper {
    flex-direction: row;
    margin-bottom: 80px;
    padding: 0 20px;
  }

  .productWrapper {
    gap: 20px;
    margin-bottom: 40px;
  }
  .productBannerTitle {
    font-size: 40px;
  }
  .productBannerWrapper {
    padding: 40px;
  }  
}
