.slider {
  margin-bottom: 120px;
  position: relative;
}

.mySwiper {
  width: 100%;
  margin: 0 auto;
  cursor: grab;
  aspect-ratio: 1/1.5;
  max-height: 95vh;
  border-radius: 10px;
  overflow: hidden;
}

.sliderLoader {
  aspect-ratio: 1/1.5;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  max-height: 95vh;
}

.sliderImgBox {
  position: relative;
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sliderImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 10;
  padding-left: 10px;
  width: auto;
}

.sliderInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  padding-bottom: 100px;
  padding-left: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  /* background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.88) 22.83%,
    rgba(255, 255, 255, 0) 52.71%
  );
  height: 100%; */
}

.sliderTitle {
  color: #fff;
  font-family: 'Manrope';
  font-size: var(--font30);
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  white-space: pre-line;
}

.sliderText {
  color: #fff;
  font-family: 'Manrope';
  font-size: var(--font14);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  max-width: 290px;
}

@media (min-width: 768px) {
  .mySwiper {
    aspect-ratio: 2/1;
  }

  .sliderLoader {
    aspect-ratio: 2/1;
  }
}

@media (min-width: 992px) {
  .slider {
    margin-bottom: 70px;
  }

  .sliderTitle {
    font-size: var(--font50);
  }

  .sliderText {
    max-width: 24.4vw;
  }

  .sliderInfo {
    gap: 15px;
    padding-bottom: 12%;
  }

  .navigation {
    bottom: 40px;
    padding-left: 75px;
  }

  .sliderInfo {
    padding-bottom: 10%;
    padding-left: 55px;
  }
}

@media (min-width: 1440px) {
  .sliderInfo {
    padding-bottom: 7%;
  }
}
