.trainingWrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.trainingBox {
  border-radius: 10px;
  background: #f9f9f9;
  padding: 20px;
}

.trainingTitle {
  color: #333;
  font-family: "Manrope";
  font-size: var(--font25);
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 20px;
}

.trainingList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trainingItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trainingInner {
  display: flex;
  align-items: center;
  gap: 15px;
}

.trainingCircleIcon {
  width: 22px;
  height: 22px;
  object-fit: cover;
}

.trainingText {
  color: #333;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.trainingLink {
  border-radius: 50px;
  background: transparent;
  color: #7a7a7a;
  font-family: "Manrope";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  text-transform: lowercase;
  border: none;
  width: auto;
  padding-left: 0px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.trainingLink span {
  display: none;
}

.trainingIconBox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff8115;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
}

.trainingIcon {
  object-fit: cover;
}

@media (min-width: 992px) {
  .trainingWrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .trainingBox {
    padding: 33px 30px 40px;
  }

  .trainingTitle {
    margin-bottom: 30px;
  }

  .trainingLink {
    border: 1px solid #7a7a7a;
    width: 110px;
    height: 36px;
    padding-left: 5px;
    transition: all 0.4s ease;
  }

  .trainingLink:hover {
    background: #ff8115;
    color: #fff;
    border: 1px solid #ff8115;
    transition: all 0.4s ease;
  }

  .trainingLink span {
    display: block;
  }
}


@media (min-width: 1440px) {
  .trainingLink {
    width: 6.5vw;
    height: 36px;
    font-size: var(--font14);
  }
}