.guaranteeInner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-bottom: 60px;
  padding: 0 10px;
}

.guaranteeImgBox {
  display: flex;
}

.guaranteeImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.guaranteeInfo {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #f8f8f8;
  padding: 30px 20px;
  gap: 20px;
}

.guaranteeTitle {
  color: #333;
  font-family: "Manrope";
  font-size: var(--font30);
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.guaranteeText {
  color: #a0a0a0;
  font-family: Manrope;
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
}

.cardWrapper {
  margin-bottom: 50px;
  padding: 0 10px;
}

.cardTitle {
  color: #333;
  font-family: "Manrope";
  font-size: var(--font30);
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 20px;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.cardItem {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
  background: #f8f8f8;
  padding: 20px;
}

.cardIconBox {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.cardStep {
  object-fit: cover;
}

.cardInner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardItemTitle {
  color: #262626;
  font-family: "Manrope";
  font-size: var(--font20);
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.cardText {
  color: #a4a4a4;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.cardBox {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.cardBoxWrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}

.cardDesc {
  color: #171717;
  text-align: center;
  font-family: "Manrope";
  font-size: var();
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
}

.uploadBox {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

button.uploadBtn {
  border-radius: 50px;
  border: 1px solid #fff;
  background: #ff8115;
  color: #fff;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 600;
  line-height: 128.571%;
  text-transform: lowercase;
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 5px;
  transition: all 0.4s ease;
}

button.uploadBtn:hover {
  background: #fff;
  color: #ff8115;
  border: 1px solid #ff8115;
  transition: all 0.4s ease;
}

.uploadIconBox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadIcon {
  object-fit: cover;
}

@media (min-width: 992px) {
  .guaranteeInner {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 90px;
    padding: 0 20px;
  }
  .guaranteeInfo {
    justify-content: center;
    padding: 0 63px;
    gap: 20px;
  }
  .guaranteeTitle {
    font-size: var(--font50);
  }

  .guaranteeTextBox {
    max-width: 28.1vw;
  }

  .cardWrapper {
    margin-bottom: 80px;
    padding: 0 20px;
  }
  .cardTitle {
    font-size: var(--font40);
    margin-bottom: 30px;
    max-width: 35.4vw;
  }

  .cardList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
  }
  .cardItem {
    gap: 70px;
    padding: 30px;
  }
  .cardDesc {
    max-width: 40vw;
    margin: 0 auto;
  }

  button.uploadBtn {
    font-size: 14px;
    width: 180px;
    height: 46px;
  }
}

@media (min-width: 1200px) {
  .cardDesc {
    max-width: 37vw;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  button.uploadBtn {
    font-size: var(--font14);
    width: 12vw;
    height: 50px;
  }

  .uploadIconBox {
    width: 32px;
    height: 32px;
  }
  .cardDesc {
    max-width: 23vw;
    margin: 0 auto;
  }
}
