.reviews {
  margin-bottom: 60px;
}

.reviewsWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}

.swiperWrapper {
  width: 100%;
}

.mySwiper {
  width: 100%;
  margin: 0 auto;
  cursor: grab;
}

.sliderVideoBox {
  position: relative;
  display: flex;
  height: 100%;
}

button.videoBtn {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  min-width: auto;
  border: 1px solid #ff8115;
}
button.videoBtn:hover {
  background-color: transparent;
}

.sliderVideo {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
}

.modalVideo {
  width: 100%;
  height: 600px;
  border-radius: 10px;
}

button.modalContentBtn {
  padding: 0;
  pointer-events: auto;
  border-radius: 0;
  min-width: auto;
  position: absolute;
  top: 15px;
  right: 10px;
}

.modalContentBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 30px 0px;
}
.modalContentIcon {
  color: #cbcbcb;
  font-size: 2rem;
}

.loaderWrapper {
  display: flex;
  gap: 20px;
  overflow: hidden;
  max-width: 100%;
}
.loaderItem {
  aspect-ratio: 1/1.5;
  width: calc(67% - 20px / 2);
  height: 100%;
  flex-shrink: 0;
  border-radius: 10px;
}

.swiperSlide {
  aspect-ratio: 1/1.5;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}
.moreContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .loaderItem {
    width: calc(25% - 60px / 4);
  }

  .modalContentIcon {
    font-size: 2.5rem;
  }

  button.modalContentBtn {
    top: 20px;
    right: 30px;
  }

  .reviews {
    margin-bottom: 80px;
  }

  .reviewsWrapper {
    margin-bottom: 40px;
  }

  .sliderVideo {
    /* height: 623px; */
  }
  .modalVideo {
    height: 800px;
  }
}
