.contacts {
  padding: 0px 20px;
  margin-bottom: 20px;
}

.contactsWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  background: #f07d00;
  border-radius: 10px;
  padding: 60px;
}

.contactsWrapper h3 {
  color: #fff;
}

.contactsText {
  color: #fff;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 20px;
  max-width: 29.7vw;
}

.contactsLink {
  border-radius: 50px;
  border: 1px solid #fff;
  background: #f07d00;
  color: #fff;
  font-family: "Manrope";
  font-size: var(--font14);
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-transform: lowercase;
  width: 8vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 9px;
}

.contactsIconBox {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactsIcon {
  object-fit: cover;
}
