.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.navItem {
  color: #656565;
  font-family: "Manrope";
  font-size: var(--font12);
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-transform: lowercase;
}

@media (min-width: 992px) {
  .navList {
    gap: 30px;
    flex-direction: row;
  }
}
