.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.navItem {
  color: #313131;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 107.4%;
}

@media (min-width: 992px) {
  .navList {
    gap: 20px;
    flex-direction: row;
    
  }
}
