.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  position: relative;
  margin-bottom: 25px;
}

.navItem {
  color: #656565;
  font-family: 'Manrope';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-transform: lowercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.navDropList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.navDropItem {
  color: #656565;
  font-family: 'Manrope';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: lowercase;
}

.navDropItem a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.icon {
  color: #ff8115;
  font-family: 'Manrope';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: lowercase;
}

.navDropList {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  transition: padding 0.3s ease, opacity 0.5s ease;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.dropDown:hover .navDropList {
  max-height: max-content;
  padding: 10px;

  opacity: 1;
}
.desktop {
  display: none;
}
@media (min-width: 992px) {
  .desktop {
    display: flex;
  }
  .navList {
    display: flex;
    gap: 30px;
    margin-bottom: 0;
    flex-direction: row;
    align-self: stretch;
  }

  .navItem {
    padding: 15px 0;
    align-self: stretch;
    justify-content: center;
  }

  .navDropList {
    position: absolute;
    top: 59px;
    left: -20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 5px;
    background: #fff;
    z-index: 10;
    padding: 0;

    transition: padding 0.3s ease, opacity 0.5s ease;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }

  .dropDown:hover .navDropList {
    max-height: max-content;
    padding: 20px;
    border: 1px solid #ededed;
    opacity: 1;
  }
}

@media (min-width: 1440px) {
  .navItem {
    font-size: var(--font14);
  }
  .navDropItem {
    font-size: var(--font14);
  }
  .icon {
    font-size: var(--font14);
  }
}
