.house {
  padding: 0 10px;
  margin-bottom: 60px;
}

.houseBox {
  display: flex;
  margin-bottom: 40px;
}

.houseImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.houseList {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
}

.houseItem {
  border-radius: 8.568px;
  background: #f8f8f8;
  padding: 25px;
}

.houseWrapper {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 9px;
}

.houseImgBox {
  border-radius: 4.284px;
  background: #f1f1f1;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.houseIcon {
  object-fit: cover;
}

.houseTitle {
  color: #333;
  font-family: "Manrope";
  font-size: var(--font16);
  font-style: normal;
  font-weight: 600;
  line-height: 117.812%;
}

.houseText {
  color: #333;
  font-family: "Manrope";
  font-size: var(--font12);
  font-style: normal;
  font-weight: 500;
  line-height: 128.571%;
}

.youtube {
  border: 1px solid #724c1f;
  border-radius: 50%;
  width: 87px;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  animation: radius 1s linear infinite;
}

.youtubeLine {
  border: 1px solid #ff811580;
  border-radius: 50%;
  width: 69px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  animation: radius 1s linear infinite;
}

.youtubeLineThird {
  border: 1px solid #ff8115cc;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  animation: radius 1s linear infinite;
}
/* .youtube::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #ff8115cc;
  border-radius: 50%;
  transform: scale(0);
  animation: radius 1s linear infinite;
} */

@keyframes radius {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1.3);
  }
}

.youtubeCircle {
  width: 15px;
  height: 15px;
  background: #ff8115;
  border-radius: 50%;
}

.card {
  border-radius: 8.568px;
  background: #ff8115;
  padding: 26px 17px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 16vw;
}

.cardImgBox {
  display: flex;
}
.cardImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.cardTitle {
  color: #fff;
  font-family: "Manrope";
  font-size: var(--font16);
  font-style: normal;
  font-weight: 600;
  line-height: 122.222%;
  text-transform: uppercase;
}

.cardText {
  color: #fff;
  font-family: "Manrope";
  font-size: var(--font12);
  font-style: normal;
  font-weight: 500;
  line-height: 128.571%;
}

@media (min-width: 992px) {
  .house {
    padding: 0 20px;
    margin-bottom: 80px;
  }

  .houseImg {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .houseList {
    grid-template-columns: repeat(3, 1fr);
  }

  .houseItem {
    border-radius: 8.568px;
    background: #f8f8f8;
    padding: 25px;
  }

  .houseWrapper {
    margin-bottom: 11px;
  }

  .houseImgBox {
    border-radius: 4.284px;
    background: #f1f1f1;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .houseIcon {
    object-fit: cover;
  }

  .houseTitle {
    max-width: 11.1vw;
  }

  .houseText {
    max-width: 17.8vw;
  }

  .youtube {
    border: 1px solid #724c1f;
    border-radius: 50%;
    width: 87px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    animation: radius 1s linear infinite;
  }

  .youtubeLine {
    border: 1px solid #ff811580;
    border-radius: 50%;
    width: 69px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    animation: radius 1s linear infinite;
  }

  .youtubeLineThird {
    border: 1px solid #ff8115cc;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    animation: radius 1s linear infinite;
  }
  /* .youtube::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ff8115cc;
    border-radius: 50%;
    transform: scale(0);
    animation: radius 1s linear infinite;
  } */

  @keyframes radius {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1.3);
    }
  }

  .youtubeCircle {
    width: 15px;
    height: 15px;
    background: #ff8115;
    border-radius: 50%;
  }
}
