


.footer {
  padding: 0 10px;
  margin-bottom: 10px;
}

.footerWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footerList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  border-radius: 20px;
  background: #f8f8f8;
  padding: 30px 20px;
}

.footerItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerIconBox {
  border-radius: 50px;
  background: #ff8115;
  color: #fff;
  font-family: 'Manrope';
  font-size: var(--font14);
  font-style: normal;
  font-weight: 600;
  line-height: 157.082%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 90px;
  height: 27px;
}

.footerLink {
  color: #333;
  font-family: 'Manrope';
  font-size: var(--font30);
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  white-space: pre-line;
}

.footerTime {
  color: #8e8e8e;
  font-family: 'Manrope';
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 157.082%;
}

.footerSocialBox {
  display: flex;
  gap: 10px;
}

.footerImage {
  border: none;
  padding: 0;
  display: flex;
  background: transparent;
  margin-bottom: 10px;
}

.footerLogo {
  width: 30%;
  height: auto;
  object-fit: cover;
}

.footerItemLink {
  display: flex;
  gap: 50px;
}

.footerBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.footerBoxItem {
  color: #8e8e8e;
  font-family: 'Manrope';
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 157.082%;
}
.footerLinkBox {
  margin-bottom: 10px;
}
.footerPolicy {
  color: #8e8e8e;
  font-family: 'Manrope';
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: 157.082%;
  display: flex;
  justify-content: flex-start;
}

.footerMapBox {
  display: flex;
}

.footerMap {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 992px) {
  .footer {
    padding: 0 20px;
    margin-bottom: 30px;
  }

  .footerList {
    grid-template-columns: repeat(3, 1fr);
    gap: 110px;
    padding: 40px;
    padding-top: 60px;
  }

  .footerIconBox {
    width: 100px;
    height: 30px;
    font-size: 14px;
  }

  .footerSocialBox {
    display: flex;
    gap: 10px;
  }

  .footerImage {
    margin-bottom: 0;
  }

  .footerLogo {
    width: 30%;
    height: auto;
    object-fit: cover;
  }

  .footerBox {
    margin-bottom: 0;
  }

  .footerPolicy {
    justify-content: flex-end;
  }
}
